// :::: VARS :::: //

$brand-primary: #fff;
$brand-secondary: #000;
$brand-tertiary: #444;
$brand-quaternary: #888;

$padding: .5em;

$font-size-primary: 1.025em;
$font-size-secondary: 1em;

// :::: BASE STYLES :::: //

html {
  color: $brand-secondary;
  background-color: $brand-quaternary;
  font-size: $font-size-primary;
  padding: $padding;
}
